<div class="overlay js-overlay-modal"></div>
<div class="modal modal-price" data-modal="3">
  <button
    type="button"
    class="modal-price__close modal__cross js-modal-close"
    data-modal="3"
  >
    <svg width="24" height="24">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <h3 class="modal-price__title">Ціни на номер</h3>

  <form action="" class="modal-price__form" name="costForm" autocomplete="on">
    <select name="numberCost2r" id="select-cast2r" class="modal-price__room">
      <option value="1500">ДВОМІСНИЙ ЛЮКС</option>
      <option value="1300">ТРИМІСНИЙ НОМЕР</option>
      <option value="1000" selected>ДВОМІСНИЙ НОМЕР</option>
    </select>

    <p class="modal-price__text">Категорія номеру</p>
    <ul class="list modal-price__list">
      <li class="modal-price__item">
        <input
          type="number"
          id="numberCast2r"
          name="numberCast2r"
          class="modal-price__input"
          minlength="1"
          placeholder="1"
          min="1"
          pattern="^[0-9]"
          title="Must be number."
          value="1"
          required
        />
        <label for="numberCast2r" class="modal-price__label"
          >Кількість ночей</label
        >
      </li>
      <li class="modal-price__item">
        <input
          type="number"
          id="numberСost2r"
          name="numberСost2r"
          class="modal-price__input"
          minlength="3"
          placeholder="1000"
          min="100"
          value="1000"
          disabled
          required
        />

        <label
          for="numberСost2r"
          class="modal-price__label modal-price__label--lowercase"
          >Грн</label
        >
      </li>
    </ul>

    <button
      type="submit"
      class="modal-price__button btn—color-black modal__cross js-modal-close"
    >
      Забронювати номер
    </button>
  </form>
</div>
